<link rel="stylesheet" type="text/css" href="style.css">
*{
    background-color:  rgb(179, 194, 202);
    font-family: Arial, Helvetica, sans-serif;
    
}
form{
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;    
    width: 20%;
}
 fieldset{
    border: 3px solid rgb(53, 53, 51);
 }

 legend{
    border: 1px solid rgb(99, 96, 96);
    padding: 10px;
    text-align: center;
    background-color: rgb(73, 67, 56);
    border-radius: 15px;
 }
 .inputbox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
}
.labelinput{
  position: relative;
  top: 0px;
  left: 0px;  
  pointer-events: none;
  transition: .5s;

}
.inputUser:focus ~ .labelinput {
    top: -20px;
    font-size: 12px;
    color: blueviolet;

}

}

