 body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(252, 255, 252), hwb(219 31% 11%));
    
}
.imagem{
  width: 550px;
  display: block;
  align-items: center;

  
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}
.box { 
    display: inline-block;
    top: 50%;
    background-color: rgb(248, 246, 246);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
    width: 30%;
   }
  
 fieldset{
    border: 3px solid hwb(219 18% 12%);
       
 }

 legend{
    border: 1px solid hwb(219 18% 12%); ;
    padding: 5px;
    text-align: center;
    background-color:   hwb(219 18% 12%);
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 3px black;
 }
 .inputbox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(20,140,220);
    outline: none;
    color: black;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;

}
.labelinput{
  position: absolute;
  top: 0px;
  left: 0px;  
  pointer-events: none;
  transition: .5s;

}
.inputUser:focus ~ .labelinput,
.inputUser:valid ~ .labelinput{
    top: -20px;
    font-size: 12px;
    color: rgb(20,140,220);

}
.datanasc{
    border: none;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    color: white;
    background-color: hwb(219 18% 12%);
}
#isubmit{
    background-image: linear-gradient(to right, rgb(213, 232, 238), hwb(219 18% 12%));
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
#isubmit:hover{
    background-image: linear-gradient(to right, rgb(226, 228, 241), hwb(219 18% 12%));
}



