
*{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
    
}